<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Keep Cool" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.standalone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script src="javascripts/jquery.numpad.js"></script>
    <script src="javascripts/circle-progress.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/css/bootstrap-slider.min.css">
  </head>

  <body class="<%= page_classes %>">

    <%= partial "partials/sidebar" %>

    <div class="main-content">

      <%= yield %>

    </div>

    <!-- <div class="right-slide">
        <div class="right-slide__title">Vérifier que la salle est vide avant de lancer ce cours</div>
        <div class="right-slide__content">
          <div class="row">
            <div class="col-md-6">
              <%= partial "partials/card", :locals => { :img => data.lessons.envies[0].image, :time => data.lessons.envies[0].time, :title => data.lessons.envies[0].title, :description => data.lessons.envies[0].description, :difficulty => data.lessons.envies[0].difficulty } %></div>

            </div>
        </div>
    </div> -->
    <!-- <div class="right-slide-bg"></div> -->
    <script>

      $('.js-countdown-1').circleProgress({
        startAngle: -Math.PI / 4 * 2,
        value: 0.25,
        thickness: 7,
        lineCap: 'round',
        fill: {
          gradient: ["#CE2D69", "#CE2D69"]
        }
      });

      $('.js-countdown-2').circleProgress({
        startAngle: -Math.PI / 4 * 2,
        value: 0.25,
        thickness: 7,
        lineCap: 'round',
        emptyFill: "rgba(255, 255, 255, .5)",
        fill: {
          gradient: ["#E3E4E5", "#fff"]
        }
      });
    </script>
  </body>
</html>
