<div class="sidebar">


<% unless current_page.url == "/cours.html" %>
  <%= image_tag "logo.png" %>

  <div class="clearfix mt-">
    <div class="sidebar__current_time">17h31</div>

    <span class="sidebar__lang dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= image_tag "french_flag.png" %></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
    </span>
  </div>

  <nav class="sidebar__nav">
    <ul class="list-unstyled">
      <li class="<%= is_page_active('/') %><%= is_page_active('/thematique.html') %>">
        <%= link_to "À la Une", "/index.html" %>
      </li>
      <li class="<%= is_page_active('/envie.html') %><%= is_page_active('/envie-de/amuser.html') %><%= is_page_active('/envie-de/defouler.html') %><%= is_page_active('/envie-de/entrainer.html') %><%= is_page_active('/envie-de/ressourcer.html') %><%= is_page_active('/envie-de/tonifier.html') %><%= is_page_active('/envie-de/aerer.html') %><%= is_page_active('/envie-de/sport-a-2.html') %><%= is_page_active('/envie-de/preparer-courses.html') %>">
        <%= link_to "Envie de", "/envie.html" %>
      </li>
      <li class="<%= is_page_active('/tous-les-cours.html') %>">
        <%= link_to "Tous les cours", "/tous-les-cours.html" %>
      </li>
    </ul>
  </nav>

  <div class="sidebar__slots">

    <%= partial "partials/slot", :locals => { :type => "encours" } %>

    <%= partial "partials/slot", :locals => { :type => "suivant" } %>

  </div>
<% else %>

  <% link_to "/tous-les-cours.html", :class => 'sidebar__back' do %>
    <%= image_tag "back.svg", :class => 'sidebar__back__icon' %>
    Menu
  <% end %>

  <div class="sidebar__slots">

    <%= partial "partials/slot", :locals => { :type => "active" } %>

    <%= partial "partials/slot", :locals => { :type => "suivant-disponible" } %>

  </div>

<% end %>
</div>
