
<% if type == "encours" %>
  <div class="slot" style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= asset_url "img-content/gym-7.png" %>');">
    <a href="/mire/cuisses-fessiers.html" class="slot__link"></a>
    <div class="slot__schedule slot__schedule--pink">En cours</div>
    <div class="slot__title">Cuissses fessiers</div>
    <div class="slot__time time">
      <div class="js-countdown-1"
      data-size="64"
      >
        <div class="inner">
          <div>
            <div class="time">13</div>
          </div>
        </div>
      </div>
    </div>
    <div class="slot__difficulty">
      <span class="difficulty-icon difficulty-icon--pink-2 difficulty-icon__level-3">
        <%= inline_svg("difficulty") %>
      </span>
    </div>
  </div>
<% end %>

<% if type == "fin-cours" %>
  <div class="slot slot--fin-cours" style="background-image: linear-gradient(rgba(224,0,105,0.68) 0%, rgba(224,0,105,0.68) 50%), url('<%= asset_url "img-content/gym-7.png" %>');">

    <div class="slot__schedule slot__schedule--pink">Fin du cours</div>
    <div class="slot__title">Cuissses fessiers</div>
    <div class="slot__time time">
      <div class="js-countdown-1"
      data-size="85"
      >
        <div class="inner">
          <div>
            <div class="time">00:24</div>
          </div>
        </div>
      </div>
    </div>
    <div class="slot__difficulty">
      <span class="difficulty-icon difficulty-icon--pink-2 difficulty-icon__level-3">
        <%= inline_svg("difficulty") %>
      </span>
    </div>
  </div>
<% end %>

<% if type == "suivant" %>
<div class="slot" style="background-image: linear-gradient(rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('<%= asset_url "img-content/gym-7.png" %>');">
  <a href="/mire/cuisses-fessiers.html" class="slot__link"></a>
  <div class="slot__schedule slot__schedule--next clearfix">
    <div class="pull-left"><%= image_tag "english_flag-2.png", :class => "mr-" %> Suivant 17h45</div>

    <ul class="pull-right list-inline">
      <li class="active-user"><span class="user-icon user-icon--small"><%= inline_svg("user") %></span></li>
      <li class="active-user"><span class="user-icon user-icon--small"><%= inline_svg("user") %></span></li>
      <li><span class="user-icon user-icon--small"><%= inline_svg("user") %></span></li>
      <li><span class="user-icon user-icon--small"><%= inline_svg("user") %></span></li>
      <li><span class="user-icon user-icon--small"><%= inline_svg("user") %></span></li>
    </ul>

  </div>
  <div class="slot__title">Cuissses fessiers</div>
  <div class="slot__time-2 time">
    <div class="js-countdown-2" data-size="64">
      <div class="inner">
        <div>
          <div class="time">13'</div>
        </div>
      </div>
    </div>
  </div>
  <div class="slot__difficulty">
    <span class="difficulty-icon difficulty-icon--pink-2 difficulty-icon__level-1">
      <%= inline_svg("difficulty") %>
    </span>
  </div>
</div>
<% end %>

<% if type == "active" %>
<div class="slot slot--active">
  <a href="/mire/cuisses-fessiers.html" class="slot__link"></a>
  <div>En cours</div>
</div>
<% end %>

<% if type == "suivant-disponible" %>
<div class="slot" style="background-image: url('<%= asset_url "images/anim-bruit.gif" %>');">

  <div class="slot__schedule slot__schedule--next clearfix">
    <div class="pull-left">
    Suivant 17h45</div>
  </div>
  <div class="slot__message">
    <span>Vous pouvez réserver un cours</span>
  </div>
</div>
<% end %>
