<div class="mire">

  <div class="mire__top">
    <div>
      <div class="mire__number">2034</div>

      <h3 class="mire__title"><%= mire.title %></h3>

      <p class="mire__description"><%= mire.description %></p>
    </div>

    <div class="ml+ mt">
      <ul class="mire__material">
        <li class="mire__material__difficulty">

          <span class="difficulty-icon difficulty-icon--white difficulty-icon__level-1">
            <%= inline_svg("difficulty") %>
          </span>

          <div>Facile</div>
        </li>
        <li><%= inline_svg("gymstick") %> <div>Gym stick</div></li>
        <li><%= inline_svg("stepper") %> <div>Stepper</div></li>
        <li><%= inline_svg("ball") %> <div>Gym ball</div></li>
        <li><%= inline_svg("tapis") %><div>Tapis</div></li>

      </ul>
    </div>
  </div>

  <%= image_tag "/img-content/mire-1.jpg", :class =>"mire__media js-adapt-size" %>

  <div class="mire__content">

    <% if current_page.url == "/mire/cuisses-fessiers.html"%>
    <div class="mire__countdown js-countdown">
      <div class="inner">
        <div>
          Votre mire <br> démarre dans
          <div class="time">00:07</div>
        </div>
      </div>
    </div>
    <% end %>

    <% if current_page.url == "/mire/rpm.html"%>
    <div class="mire__countdown-2 js-countdown-play">
      <div class="inner">
        <div>
          <div class="time">03:35</div>
          <div class="time-2">Sur 14 min</div>
          <a href="#" class="js-open-panel"><%= inline_svg("pause") %></a>
        </div>
      </div>
    </div>
    <% end %>

    <div class="mire__voice js-voice">
      <div class="inner">
        <div>
          <div class="text">Voix</div>
          <%= inline_svg("micro") %>
        </div>
      </div>
      <%= image_tag "jauge.png", :class =>"jauge" %>
      <div class="mire__sound-btns">
        <a href="#" class="mire__sound-btn">-</a>
        <a href="#" class="mire__sound-btn">+</a>
      </div>
    </div>

    <div class="mire__voice js-music">
      <div class="inner">
        <div>
          <div class="text">Musique</div>
          <%= inline_svg("note") %>
        </div>
      </div>
      <%= image_tag "jauge.png", :class =>"jauge" %>
      <div class="mire__sound-btns">
        <a href="#" class="mire__sound-btn">-</a>
        <a href="#" class="mire__sound-btn">+</a>
      </div>
    </div>


    <div class="mire__subtitle">
          <div class="text">Sous-titre</div>
          <%= inline_svg("subtitle") %>

          <div class="toggle-wrap">
            <input type="checkbox" id="toggle_subtitles" name="" value="" checked>
            <div class="toggle">
              <label for="toggle_subtitles"><i></i>
              <div class="toggle__on">On</div>
              <div class="toggle__off">Off</div>
              </label>
            </div>
          </div>

    </div>



  </div>

</div>


<%= partial "partials/right-panel" %>


<script>

  // library used : https://github.com/kottenator/jquery-circle-progress

  $('.js-countdown').circleProgress({
    startAngle: -Math.PI / 4 * 2,
    value: 0.25,
    size: 250,
    thickness: 12,
    lineCap: 'round',
    emptyFill: 'rgba(255, 255, 255, .1)',
    fill: {
      gradient: ["#E3E4E5", "#fff"]
    }
  });

  $('.js-countdown-play').circleProgress({
    startAngle: -Math.PI / 4 * 2,
    value: 0.25,
    size: 260,
    thickness: 15,
    lineCap: 'round',
    emptyFill: 'rgba(255, 255, 255, .1)',
    fill: '#E00069'
  });


  $('.js-voice').circleProgress({
    startAngle: -Math.PI / 4 * 4.85,
    value: 0.25,
    size: 190,
    thickness: 9,
    lineCap: 'round',
    emptyFill: 'transparent',
    fill: {
      gradient: ["#A7CD45", "#A7CD45"]
    }
  });

  $('.js-music').circleProgress({
    startAngle: -Math.PI / 4 * 4.85,
    value: 0.25,
    size: 190,
    thickness: 9,
    lineCap: 'round',
    emptyFill: 'transparent',
    fill: {
      gradient: ["#A7CD45", "#A7CD45"]
    }
  });
</script>

<!-- <script>
$(document).ready(function(){
    var windowWidth = $(window).width(),
        windowHeight = $(window).height();

    function adaptSize() {
      $(".js-adapt-size").width(windowWidth).height(windowHeight);
    }
    adaptSize();


    $(window).resize(function() {
        adaptSize();
    });
});
</script> -->
