
<div class="fiche">
  <div class="fiche__header" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.20), rgba(0,0,0,0.20)), url('<%= asset_url lesson.image %>');">

    <% link_to "/a-la-une.html", :class => 'fiche__header__back' do %>
      <%= inline_svg("back") %>
    <% end %>

    <div class="fiche__header__content">
          <div class="title">Avec <%= lesson.teacher_name %>
            <div class="subtitle">Coach, lorem ipsum</div>
          </div>
          <ul class="info">
            <li class="info__avatar" style="background-image: url('<%= asset_url lesson.teacher %>');"></li>
            <li class="info__time"><div>24</div> min</li>
            <li class="info__difficulty">
              <div class="difficulty-icon difficulty-icon--pink difficulty-icon__level-1">
                <%= inline_svg("difficulty") %>
              </div>
              Facile
            </li>
          </ul>
    </div>
  </div>

  <div class="fiche__content">
    <div class="row">

        <div class="col-md-7">
          <div class="fiche__number">2034</div>

          <h3 class="fiche__title"><%= lesson.title %></h3>

          <p class="fiche__description"><%= lesson.description %></p>

          <ul class="fiche__material">
            <li><%= inline_svg("tapis") %> <div>Tapis</div></li>
            <li><%= inline_svg("bosu") %> <div>Bosu</div></li>
            <li><%= inline_svg("gymstick") %> <div>Gym stick</div></li>
            <li><%= inline_svg("stepper") %> <div>Stepper</div></li>
            <li><%= inline_svg("ball") %> <div>Gym ball</div></li>
          </ul>

          <ul class="fiche__list">
            <li>Se renforcer le dos</li>
            <li>S’amuser</li>
            <li>Lorem ipsum</li>
          </ul>
          <p class="fiche__text"><%= lesson.text %></p>
        </div>

        <div class="col-md-5">

              <% if current_page.url == "/fiche/cuisses-fessiers.html"%>
              <a href="#" class="btn btn-primary btn-block mb+ mt+"><%= image_tag "play.svg", :class => "btn__icon" %><div>Remplacer <br>maintenant</div></a>

              <a href="#" class="btn btn-default btn-block mb+ js-open-panel"><%= image_tag "schedule.svg", :class => "btn__icon" %><div>Réserver ce cours <br> à 17h45</div></a>
              <% end %>

              <% if current_page.url == "/fiche/pilates.html"%>
                <% link_to "/fiche/yoga.html", :class => 'btn btn-default-2 btn-block mb+  mt+' do %>
                  <div>Voir le cours suivant</div>
                <% end %>
              <% end %>

              <% if current_page.url == "/fiche/rpm.html"%>
              <a href="#" class="btn btn-primary btn-block mb+  mt+"><%= image_tag "play.svg", :class => "btn__icon" %><div>Lancer le cours</div></a>
              <% end %>

              <% if current_page.url == "/fiche/yoga.html"%>
              <div class="fiche__start-time">
                  <div class="title">Ce cours <br> démarre à</div>
                  <div class="hour">17h45</div>
                  <ul class="list-inline text-center">
                    <li>
                      <span class="user-icon user-icon--selected"><%= inline_svg("user") %></span>
                    </li>
                    <li>
                      <span class="user-icon user-icon--selected"><%= inline_svg("user") %></span>
                    </li>
                    <li>
                      <span class="user-icon"><%= inline_svg("user") %></span>
                    </li>
                    <li>
                      <span class="user-icon user-icon--dash"><%= inline_svg("user") %></span>
                    </li>
                    <li>
                      <span class="user-icon user-icon--dash"><%= inline_svg("user") %></span>
                    </li>
                  </ul>
                  <div class="bubble">
                    <div>Participer <br>à ce cours</div>
                  </div>
              </div>
              <% end %>
        </div>


      </div>
  </div>

</div>


<%= partial "partials/right-panel" %>
