<div class="fiche">
  <div class="fiche__header" style="background-image: url('<%= asset_url data.lessons.envies[0].image %>');">
    <div class="fiche__header__content">
      <div class="pl+">
          <div class="title">Avec Christophe
            <div class="subtitle">Coach, lorem ipsum</div>
          </div>
          <ul class="info">
            <li class="info__avatar" style="background-image: url('<%= asset_url data.lessons.envies[0].teacher %>');"></li>
            <li class="info__time"><div>24</div> min</li>
            <li class="info__difficulty">
              <div><%= image_tag data.lessons.envies[0].difficulty %></div>
              Facile
            </li>
          </ul>
      </div>
    </div>
  </div>

  <div class="p+ mt+">
    <div class="row">

        <div class="col-md-6">
          <div class="fiche__number">2034</div>

          <h3 class="fiche__title"><%= data.lessons.envies[0].title %></h3>

          <p class="fiche__description"><%= data.lessons.envies[0].description %></p>

          <ul class="fiche__material">
            <li><%= inline_svg("tapis.svg") %> <div>Tapis</div></li>
            <li><%= inline_svg("bosu.svg") %> <div>Bosu</div></li>
            <li><%= inline_svg("gymstick.svg") %> <div>Gym stick</div></li>
            <li><%= inline_svg("stepper.svg") %> <div>Stepper</div></li>
            <li><%= inline_svg("ball.svg") %> <div>Gym ball</div></li>
          </ul>

          <ul class="fiche__list">
            <li>Se renforcer le dos</li>
            <li>S’amuser</li>
            <li>Lorem ipsum</li>
          </ul>
          <p class="fiche__text"><%= data.lessons.envies[0].text %></p>
        </div>

        <div class="col-md-6">
            <div class="mt+">
              <a href="#" class="btn btn-primary btn-block mb+"><%= image_tag "play.svg", :class => "btn__icon" %><div>Remplacer <br>maintenant</div></a>

              <a href="#" class="btn btn-default btn-block mb+"><%= image_tag "schedule.svg", :class => "btn__icon" %><div>Réserver ce cours <br> à 17h45</div></a>

              <a href="#" class="btn btn-default-2 btn-block mb+"><div>Voir le cours suivant</div></a>

              <a href="#" class="btn btn-primary btn-block mb+"><%= image_tag "play.svg", :class => "btn__icon" %><div>Lancer le cours</div></a>
            </div>
        </div>


      </div>
  </div>



</div>
