<div id="filter">

  <div class="filter">
    <div class="filter__description"><span class="text">
      Trouver votre cours <br>grace aux filtres <%= image_tag "arrow.png"%></span>
    <a href="#" class="filter__reset hidden"><%= inline_svg("reset") %><span>Réinitialiser</span></a></div>

    <ul class="filter__nav list-inline">
      <li>
        <a href="#" data-toggle="collapse" data-target="#categories" class="filter__item filter__item--categorie">
        <span class="filter__item__text">Categories</span>
          <span class="filter__item__icon"><%= inline_svg("categorie") %></span>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#teachers" class="filter__item filter__item--teacher">
          <span class="filter__item__text">Tous les profs</span>
          <span class="filter__item__icon"><%= inline_svg("teacher") %></span>
          <%= image_tag "img-content/teacher-1.jpg", :width => "60", :class => "teacher-img" %>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#difficulties" class="filter__item filter__item--difficulty">
          <span class="filter__item__text">Tout niveau</span>
          <span class="filter__item__icon"><%= inline_svg("difficulty") %></span>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="collapse" data-target="#time" class="filter__item filter__item--time">
          <span class="filter__item__text">Durée</span>
          <span class="filter__item__icon"><%= inline_svg("time") %></span>
        </a>
      </li>
      <li>
        <a href="#" class="filter__item filter__item--code">
        <span class="filter__item__text">Code</span>
          <span id="enter-code" class="filter__item__icon"><%= inline_svg("code") %></span>
        </a>
      </li>
    </ul>
  </div>


  <div class="collapse indent fade" id="categories">
    <div class="filter__section">
    <h2 class="filter__section__title">Sélectionner une catégorie de cours</h2>
    <div class="row no-gutter">
          <div class="col-md-3">
            <div class="filter__section__card js-reset-category selected">
              <div>
                <div class="icon-wrap"><%= inline_svg("categorie") %></div>
                <div class="filter__section__card__title">Tous les cours</div>
              </div>
            </div>
          </div>
        <% data.filter.categories.each do |category| %>
          <div class="col-md-3">
            <div class="filter__section__card js-active-category">
              <div>
                <div class="icon-wrap">
                  <%= inline_svg(category.image) %>
                </div>
                <div class="filter__section__card__title"><%= category.title %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>


  <div class="collapse indent fade" id="teachers">
    <div class="filter__section">
    <h2 class="filter__section__title">Sélectionner un professeur</h2>
    </div>
  </div>

  <div class="teacher-carousel-wrap">
    <ul class="teacher-carousel">
      <li>
        <div class="row no-gutter">
          <div class="col-md-3">
            <div class="filter__section__card selected js-reset-teacher">
              <div>
                <div class="icon-wrap">
                  <%= inline_svg("teacher") %>
                </div>
                <div class="filter__section__card__title mt">Tous les profs</div>
              </div>
            </div>
          </div>
        <% data.filter.teachers.each do |teacher| %>
          <div class="col-md-3">
            <div class="filter__section__card js-active-teacher">
              <div>
                <%= image_tag teacher.image, :width => "60" %>
                <div class="filter__section__card__title mt"><%= teacher.title %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </li>
      <li>
        <div class="row no-gutter">
        <% data.filter.teachers.each do |teacher| %>
          <div class="col-md-3">
            <div class="filter__section__card js-active-filter js-active-teacher">
              <div>
                <%= image_tag teacher.image, :width => "60" %>
                <div class="filter__section__card__title mt"><%= teacher.title %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </li>
    </ul>
  </div>



  <div class="collapse indent fade" id="difficulties">
    <div class="filter__section">
    <h2 class="filter__section__title">Sélectionner un niveau</h2>
    <div class="row no-gutter">
        <div class="col-md-3">
          <div class="filter__section__card js-reset-difficulty selected">
            <div>
              <div class="icon-wrap">
                <%= inline_svg("difficulty") %>
              </div>
              <div class="filter__section__card__title">Tout niveau</div>
            </div>
          </div>
        </div>

          <div class="col-md-3">
            <div class="filter__section__card js-active-difficulty">
              <div>
                <div class="icon-wrap">
                  <span class="difficulty-icon difficulty-icon--green difficulty-icon__level-1"><%= inline_svg("difficulty") %></span>
                </div>
                <div class="filter__section__card__title">Facile</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="filter__section__card js-active-difficulty">
              <div>
                <div class="icon-wrap">
                  <span class="difficulty-icon difficulty-icon--green difficulty-icon__level-2"><%= inline_svg("difficulty") %></span>
                </div>
                <div class="filter__section__card__title">Moyen</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="filter__section__card js-active-difficulty">
              <div>
                <div class="icon-wrap">
                  <span class="difficulty-icon difficulty-icon--green difficulty-icon__level-3"><%= inline_svg("difficulty") %></span>
                </div>
                <div class="filter__section__card__title">Difficile</div>
              </div>
            </div>
          </div>



        </div>
    </div>
  </div>

  <div class="collapse indent fade" id="time">
    <div class="filter__section">
    <h2 class="filter__section__title">Sélectionner une durée</h2>
    <div class="row no-gutter">
        <div class="col-md-3">
          <div class="filter__section__card js-reset-time selected">
            <div>
              <div class="icon-wrap">
                <%= inline_svg("time") %>
              </div>
              <div class="filter__section__card__title">Toutes durées</div>
            </div>
          </div>
        </div>
        <% data.filter.time.each do |time| %>
          <div class="col-md-3">
            <div class="filter__section__card js-active-time">
              <div>
                <div class="icon-wrap"><%= inline_svg(time.image) %></div>
                <div class="filter__section__card__title"><%= time.title %></div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>




<div class="card-carousel">
  <ul class="carousel">
    <li class="slide">
        <div class="row mb+">
        <% data.lessons.envies[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>
        <% data.lessons.top[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>
        <% data.lessons.envies[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>

      </div>
    </li>
    <li class="slide">
      <div class="row mb+">
        <% data.lessons.envies[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>
        <% data.lessons.top[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>
        <% data.lessons.envies[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>

      </div>
    </li>
    <li class="slide">
      <div class="row mb+">
        <% data.lessons.envies[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>
        <% data.lessons.top[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>
        <% data.lessons.envies[0,3].each do |lesson| %>
            <div class="col-md-4 card-animation">
              <% @slug = lesson.slug %>
              <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
            </div>
        <% end %>

      </div>
    </li>
  </ul>
  <div id="slide-counter"></div>
</div>





<script>


  // toggleling the filters section
  var $myGroup = $('#filter');

  $myGroup.on('show.bs.collapse','.collapse', function() {
      $myGroup.find('.collapse.in').collapse('hide');
      slider2.reloadSlider();
      $(".card-carousel").addClass("opacity");
  });
  $myGroup.on('hidden.bs.collapse', function () {
     $(".card-carousel").removeClass("opacity");
  });

  // special treatment for the carousel
  $("a[data-toggle='collapse']:not([data-target='#teachers'])").click(function(){
      $(".teacher-carousel-wrap").removeClass("active");
  });

  $("a[data-target='#teachers']").click(function(){
      $(".teacher-carousel-wrap").toggleClass("active");
  });


  function activateFilter(filterName) {
    $(".js-active-menu").removeClass("selected");
    $(".filter__description .text").hide();
    $(".filter__reset").removeClass("hidden");
    $(this).addClass("selected");
    $myGroup.find('.collapse.in').collapse('hide');
  }

  // clicking on a filter card in CATEGORIES:
  $(".js-active-category").click(function(){
      var categoryName = $(this).find(".filter__section__card__title").text();
      $(".js-active-category").removeClass("selected");
      activateFilter();
      $(".filter__item--categorie").addClass("selected");
      $(".filter__item--categorie").find(".filter__item__text").text(categoryName);
      $(".filter__item--categorie").find(".filter__item__icon").hide();
      $(".filter__item--categorie").find(".icon-wrap").hide();

      $(this).find(".icon-wrap").clone().appendTo(".filter__item--categorie");
  });

  $(".js-reset-category").click(function(){
      var categoryName = $(this).find(".filter__section__card__title").text();

      $(".js-active-category").removeClass("selected");
      $(".js-reset-category").removeClass("selected");
      $(".filter__item--category").removeClass("selected");

      $(".filter__item--category").find(".filter__item__text").text(categoryName);
      $(".filter__item--category").find(".filter__item__icon").show();

      $(".filter__item--category").find(".icon-wrap").hide();
      activateFilter();

  });


  // clicking on a filter card in LEVELS:
  $(".js-active-difficulty").click(function(){
      var difficultyName = $(this).find(".filter__section__card__title").text();
      $(".js-active-difficulty").removeClass("selected");
      $(this).addClass("selected");
      $(".js-reset-difficulty").removeClass("selected");

      $(".filter__item--difficulty").addClass("selected");
      $(".filter__item--difficulty").find(".filter__item__text").text(difficultyName);
      $(".filter__item--difficulty").find(".filter__item__icon").hide();
      $(".filter__item--difficulty").find(".icon-wrap").hide();
      activateFilter();
      $(this).find(".icon-wrap").clone().appendTo(".filter__item--difficulty");
  });

  $(".js-reset-difficulty").click(function(){
      var difficultyName = $(this).find(".filter__section__card__title").text();

      $(".js-active-difficulty").removeClass("selected");
      $(".js-reset-difficulty").removeClass("selected");
      $(".filter__item--difficulty").removeClass("selected");

      $(".filter__item--difficulty").find(".filter__item__text").text(difficultyName);
      $(".filter__item--difficulty").find(".filter__item__icon").show();

      $(".filter__item--difficulty").find(".icon-wrap").hide();
      activateFilter();

  });

  // clicking on a filter card in TIME:
  $(".js-active-time").click(function(){
      var timeName = $(this).find(".filter__section__card__title").text();

      $(".js-active-time").removeClass("selected");
      $(".js-reset-time").removeClass("selected");
      $(".filter__item--time").removeClass("selected");

      $(".filter__item--time").addClass("selected");
      $(".filter__item--time").find(".filter__item__text").text(timeName);
      $(".filter__item--time").find(".filter__item__icon").hide();
      $(".filter__item--time").find(".icon-wrap").hide();
      activateFilter();
      $(this).find(".icon-wrap").clone().appendTo(".filter__item--time");
  });

  $(".js-reset-time").click(function(){
      var timeName = $(this).find(".filter__section__card__title").text();

      $(".js-active-time").removeClass("selected");
      $(".js-reset-time").removeClass("selected");
      $(".filter__item--time").removeClass("selected");

      $(".filter__item--time").find(".filter__item__text").text(timeName);
      $(".filter__item--time").find(".filter__item__icon").show();

      $(".filter__item--time").find(".icon-wrap").hide();
      activateFilter();

  });

  // clicking on a filter card in TEACHERS:
  $(".js-active-teacher").click(function(){
      var teacherName = $(this).find(".filter__section__card__title").text();
      activateFilter();
      $(".filter__item--teacher").addClass("selected");
      $(this).addClass("selected");
      $(".js-reset-teacher").removeClass("selected");
      $(".filter__item--teacher").find(".filter__item__text").text(teacherName);
      $(".teacher-carousel-wrap").removeClass("active");
      $(".filter__item--teacher img").show();
      $(".filter__item--teacher .filter__item__icon").hide();
  });

  $(".js-reset-teacher").click(function(){
      var teacherName = $(this).find(".filter__section__card__title").text();

      $(".js-active-teacher").removeClass("selected");
      $(".js-reset-teacher").removeClass("selected");
      $(".filter__item--teacher").removeClass("selected");

      $(".teacher-carousel-wrap").removeClass("active");
      $(".teacher-img").hide();
      $(".filter__item--teacher").find(".filter__item__text").text(teacherName);
      $(".filter__item--teacher").find(".filter__item__icon").show();

      $(".filter__item--teacher").find(".icon-wrap").hide();
      activateFilter();

  });



  // overide bxslider width to the window width
  var slideWidth = $(window).width() - 460,
      totalLessonCount = $(".card-carousel .card").length;

  // make the filter section the same size
  $(".filter__section").width(slideWidth - 20);


  // add text to the slide counter
  $('#slide-counter').prepend('Cours <span class="from-current-index"></span> à <span class="current-index"></span>/<span class="total-lesson-count">'+totalLessonCount+'</span>');

  $(".slide").each(function() {
      return lessonsInSlide = $(this).find(".card").length;
  });

  $('#slide-counter .current-index').text(lessonsInSlide + 1);

  var mySettings = {
        minSlides: 1,
        maxSlides: 1,
        slideWidth: slideWidth,
        slideMargin: 0,
        infiniteLoop: false,
        speed: 250,
        hideControlOnEnd: true,
        touchEnabled: false,
        moveSlides: 1,
        pager: false,
        shrinkItems: true,
        onSliderLoad: function (currentIndex){
            $('#slide-counter .from-current-index').text(currentIndex+1);
            $('#slide-counter .current-index').text(currentIndex+1*lessonsInSlide);
        },
        onSlideNext: function (){
            var slide_count = slider.getSlideCount();
            var slide_curr = slider.getCurrentSlide();
            if(slide_curr >= 1) {
              $('#slide-counter .from-current-index').text(slide_curr*lessonsInSlide);
            } else {
              $('#slide-counter .from-current-index').text(slide_curr+1);
            }
            $('#slide-counter .current-index').text((slide_curr+1)*lessonsInSlide);
            },
        onSlidePrev: function (){
            var slide_count = slider.getSlideCount();
            var slide_curr = slider.getCurrentSlide();
            if(slide_curr >= 1) {
              $('#slide-counter .from-current-index').text(slide_curr*lessonsInSlide);
            } else {
              $('#slide-counter .from-current-index').text(slide_curr+1);
            }
            $('#slide-counter .current-index').text((slide_curr+1)*lessonsInSlide);
        },
        onSlideBefore: function ($slideElement, oldIndex, newIndex){
            $('#slide-counter .current-index').text(newIndex);
        }
      }

  var slider = $('.carousel').bxSlider(mySettings);
  var slider2 = $('.teacher-carousel').bxSlider(mySettings);




  $(window).resize( function() {
        slider.destroySlider();
        slider.reloadSlider();
        slider2.destroySlider();
        slider2.reloadSlider();
    }).trigger("resize");

  $("#enter-code").click(function(){
      $(".code").fadeIn();
      $(".code-bg").fadeIn();
  });


</script>
